---
import Logo from "./Logo.astro";
import LogoText from "./LogoText.astro";
import ToggleTheme from "./ToggleTheme.astro";

interface Option {
  name: string;
  href: string;
  submenu?: Option[];
}

const options: Option[] = [
  { name: "Item 1", href: "#" },
  {
    name: "Parent",
    href: "#",
    submenu: [
      { name: "Submenu 1", href: "#" },
      { name: "Submenu 2", href: "#" },
    ],
  },
  { name: "Item 3", href: "#" },
];
---

<header class="sticky top-0 w-full z-50 bg-none">
  <div class="navbar bg-base-100 md:px-4 lg:px-8 xl:px-12">
    <div class="navbar-start">
      <div class="dropdown">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost btn-sm btn-square mr-2 lg:hidden"
        >
          <i class="iconify ph--list w-6 h-6"></i>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          {
            options.map(({ name, href, submenu }) => (
              <li>
                <a href={href}>{name}</a>
                {submenu && (
                  <ul class="p-2">
                    {submenu.map(({ name, href }) => (
                      <li>
                        <a href={href}>{name}</a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))
          }
        </ul>
      </div>
      <a href="/" class="flex items-center group">
        <Logo
          class="md:w-14 md:h-14 -translate-y-1.5 group-hover:-rotate-6 group-hover:scale-105 transition-all"
        />
        <LogoText class="md:text-3xl xl:text-4xl" onlytext />
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {
          options.map(({ name, href, submenu }) => (
            <li>
              {submenu ? (
                <details>
                  <summary>{name}</summary>
                  <ul class="p-2">
                    {submenu.map(({ name, href }) => (
                      <li>
                        <a href={href}>{name}</a>
                      </li>
                    ))}
                  </ul>
                </details>
              ) : (
                <a href={href}>{name}</a>
              )}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-end md:gap-2">
      <a
        href="https://github.com/RepolloDev/TecitoHot"
        class="btn btn-circle btn-ghost btn-sm xl:btn-md"
      >
        <i class="iconify ph--github-logo-duotone w-6 h-6 xl:w-8 xl:h-8">
          <span class="sr-only">Github icon</span>
        </i>
      </a>
      <span
        class="btn btn-circle btn-sm xl:btn-md bg-yellow-300 hover:bg-yellow-300 text-yellow dark:bg-lavender dark:text-neutral-content"
      >
        <ToggleTheme class="w-[1.5rem] h-[1.5rem] xl:w-8 xl:h-8" />
      </span>
    </div>
  </div>
</header>
